@page
@model BookShop_Razor.Pages.Categories.DeleteModel
<form method="post">
    <input asp-for="categoriess.Id" hidden />
    <div class="border-bottom p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Contact</h2>
            <hr />
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="categoriess.Name"></label>
            <input asp-for="categoriess.Name" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="categoriess.DisplayOrder"></label>
            <input asp-for="categoriess.DisplayOrder" disabled class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Delete</button>
        <a asp-page="/categories/index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>
